Repository fthomas/refined, pull requests merged in 2023-03, with the labels that each got.

#1157 Fix/remove shapeless from scalacheck string module
  modules/scalacheck/shared/src/main/scala-3.0+/eu/timepit/refined/scalacheck/generic.scala
  modules/scalacheck/shared/src/main/scala-3.0+/eu/timepit/refined/scalacheck/string.scala
  modules/scalacheck/shared/src/main/scala-3.0-/eu/timepit/refined/scalacheck/generic.scala
  modules/scalacheck/shared/src/main/scala-3.0-/eu/timepit/refined/scalacheck/string.scala
  modules/scalacheck/shared/src/test/scala-3.0+/eu/timepit/refined/scalacheck/StringArbitrarySpec.scala
Labels: scalacheck

#1159 Add NumericValidateSpec for Scala 3
  modules/core/shared/src/test/scala-3.0+/eu/timepit/refined/NumericValidateSpec.scala
Labels: core

#1162 Add pureconfig for scala3 [fixes fthomas/refined#1092]
  .scalafmt.conf
  build.sbt
  modules/pureconfig/shared/src/main/scala-3.0+/eu/timepit/refined/pureconfig/TypeDescribeVersionSpecific.scala
  modules/pureconfig/shared/src/main/scala-3.0-/eu/timepit/refined/pureconfig/TypeDescribeVersionSpecific.scala
  modules/pureconfig/shared/src/main/scala/eu/timepit/refined/pureconfig/BaseInstances.scala
  modules/pureconfig/shared/src/main/scala/eu/timepit/refined/pureconfig/package.scala
  modules/pureconfig/shared/src/test/scala/eu/timepit/refined/pureconfig/RefTypeConfigConvertSpec.scala
Labels: pureconfig

#1166 avoid deprecated `java.net.URL` constructor
  modules/core/shared/src/main/scala-3.0+/eu/timepit/refined/string.scala
  modules/core/shared/src/main/scala-3.0-/eu/timepit/refined/string.scala
  modules/core/shared/src/main/scala/eu/timepit/refined/util/string.scala
Labels: core
